body {
  min-width: 1033px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttons-container {
  display: flex;
}

.grid {
  display: flex;
  margin: 50px;
  max-width: 100%;
}
