html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: rgba(231, 231, 231, 1);
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttons-container {
  display: flex;
  margin-top: 0.625rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.start-icon {
  font-size: medium;
  padding: 0.75rem 0;
  margin-top: 2px;
  border: none;
}

.explain-icons {
  font-size: large;
  color: black;
  padding: 0.75rem 0.5rem;
  margin-top: 0.188rem;
  margin-right: 1rem;
  border: none;
  border-radius: 0.313rem;
}

.reset-btn {
  background-color: #525364;
  font-size: medium;
  color: white;
  padding: 0.75rem 1.625rem;
  border: none;
  border-radius: 0.313rem;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: #34495ebe;
}

.grid {
  display: flex;
  margin: 1.875rem;
  max-width: 100%;
}

.options-container {
  position: relative;
  padding: 0.2rem 0;
  z-index: 1;
}

.btn {
  display: flex;
  background-color: #8b3c81;
  color: white;
  font-size: medium;
  padding: 1rem 1.875rem;
  border: none;
  border-radius: 0.313rem;
  cursor: pointer;
  margin-right: 1.25rem;
}

.options {
  position: absolute;
  width: 91%;
  background-color: #8b3c81;
  color: white;
  border-radius: 0.313rem;
  font-size: 0.938rem;
  padding: 0.5rem 1rem;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0.5rem;
  text-align: center;
}

.options li {
  margin: 0.5rem 0;
  cursor: pointer;
  padding: 0.2rem;
}

li:hover {
  color: #ffd700;
}
