*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttons-container {
  display: flex;
  margin-top: 10px;
}

.start-icon {
  background-color: white;
  font-size: medium;
  padding: 12px 0;
  margin-top: 2px;
  border: none;
}

.explain-icons {
  font-size: large;
  color: black;
  padding: 12px 8px;
  margin-top: 3px;
  border: none;
  border-radius: 5px;
}

.visualize-btn {
  background-color: #48c9b0;
  font-size: medium;
  color: white;
  padding: 12px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}

.visualize-btn:hover {
  background-color: #31bea2;
}

.reset-btn {
  background-color: #34495e;
  font-size: medium;
  color: white;
  padding: 12px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: #34495ebe;
}

.grid {
  display: flex;
  margin: 30px;
  max-width: 100%;
}

.maze-options-container {
  position: relative;
  padding: 0.2rem 0;
  z-index: 1;
}

.generate-maze-btn {
  display: flex;
  background-color: #48c9b0;
  font-size: medium;
  color: white;
  padding: 16px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.maze-options {
  position: absolute;
  background-color: #48c9b0;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  padding: 0.5rem 1rem;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0.5rem;
  text-align: center;
}

.maze-options li {
  margin: 0.5rem 0;
  cursor: pointer;
  padding: 0.2rem;
}

li:hover {
  background-color: #34495e;
}
