@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

.modal {
  position: fixed;
  margin: auto;
  max-width: 800px;
  background-color: white;
  border: #34495e solid 2px;
  padding: 50px;
  padding-top: 27px;
  text-align: center;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modal-btn {
  background-color: #8b3c81;
  font-size: medium;
  color: white;
  padding: 14px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

p {
  margin: 1rem 0;
}
